@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    flex-direction: row;
    padding: 40px;
    align-items: center;
    justify-content: space-between;
}
.logo{
    margin-left: 40px;
}
.logo img{
    width: 90px;
}
.nav-list{
    position: relative;
    display: flex;
    gap: 90px;
    align-items: center;
    right: 60px;
    list-style: none;
}
.nav-link{
    color: black;
    font-family: sans-serif;
    font-size: 15px;
}
.nav-link:link{
    text-decoration: none;
}
.nav-list::before{
    content: "";
    display: block;
    width: 300px;
    height: 1.8px;
    background-color: #323332;

}
/* -------hero section ------ */

.hero-section{
    display: flex;
    flex-direction: row;

}
.hero-left{
    width: 40%;
}
.hero-left img{
    height: 830px;
    width: 540px;
    object-fit: cover;
    z-index: -1;
    position: absolute;
    top: 0px;
    left: 0;
}
.hero-right{
    width: 70%;
    position: relative;
    flex: 1;
}
.head-main{
    display: flex;
    align-items: center;
    
}
.hero-heading{
    font-size: 4.6rem;
    font-weight: 800;
    font-family:'Merriweather';
    color: white;

}
.hero-heading>h1:first-child{
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;


    /* position: absolute; */
}

.hero-heading>h1:nth-child(2){
    color: #323332;
    padding-left: 153px;
    position: relative;
    top: -40px;
}
.hero-sub-heading{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 190px;
    margin-left: 55px;
}
.hero-sub-heading h4{
    font-size: 25px;
    color:gray;
}
.hero-sub-heading button{
    width: 260px;
    padding: 10px;
    background-color: #333333;
    color: #fff;
}
.social-media{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 20px;
    gap: 50px;
    float: right;
    top: 0;
    right: 0;
    margin-right: 95px;
}
.hero-part-2{
display: flex;
flex-direction: row;
}
.features{
    list-style: none;
    width: 20%;
    margin-left: 25px;
    margin-top: 60px;
}
.features li{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 200px;
    color: #838382;
    margin-bottom: 40px;
}
.features>li:first-child{
    color: black;
}
.features>li::before{
    content: "";
    justify-self: center;
    display: flex;
    height: 12px;
    width: 12px;
    background-color: #838382;
    border-radius: 50%;
}
.features>li:first-child:before{
    position: relative;
    right: 2px;
    height: 15px;
    width: 15px;
    background-color: #000;
}

.features>li:first-child{
    color: #000;
}

.quote{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}
.quote-img{
    width: 30px;
    margin-bottom: 15px;
}
.quote p{
    width: 420px;
    margin-bottom: 20px;
    line-height: 25px;
}
.quote-imgage{
    height: 180px;
    width: 500px;
    object-fit: cover;
}
.arrow{
    height: 135px;
    position: absolute;
    bottom: 0px;
    right: 60px;

}
@media only screen and (max-width:600px){
    
    nav{
        width: 80%;
        padding: 14px;
        align-items: center;
        justify-content: space-between;
        
    }
    .logo{
        margin-left: 4px;
    }
    .nav-list{
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .nav-list::before{
        content: "";
        display: block;
        width: 30px;
    }
    /* -------hero section ------ */
    
    .hero-section{
        display: flex;
        flex-direction: column;
    
    }
    .hero-left{
        width: 40%;
    }
    .hero-left img{
        height: 530px;
        width: 447px;
        position: relative;
    }
    .hero-right{
        width: 100%;
    }
    .hero-heading{
        font-size: 2rem;
    }
    .hero-sub-heading{
        margin-top: 90px;
        margin-left: 5px;
    }
    .hero-sub-heading h4{
        font-size: 10px;
    }
    .hero-sub-heading button{
        width: 120px;
        padding: 5px;
        font-size: 10px;
    }
    .social-media{
        position: absolute;
        width: 10px;
        gap: 20px;
        margin-top: 20px;
        margin-right: 165px;
    }
    .quote{
        display: flex;
        flex-direction: column;
        margin-left: 10px;
    }
    .quote-img{
        width: 15px;
    }
    .quote p{
        width: 290px;
        font-size:10px;
    }
    .quote-imgage{
        width: 250px;
        object-fit: cover;
    } 
}